<div class="container">
    <h2>Todos</h2>
    <div class="row">
      <div class="col-sm-3">
        <input type="search" class="form-control" [(ngModel)]="searchTerm" name="searchTerm"  (input)="filterTodos()" placeholder="Search by title"> 
      </div>
    
    </div>
    <br> <br>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let todo of filteredTodos">
        {{ todo.title }}
        <span class="badge {{ todo.completed ? 'bg-primary' : 'bg-danger' }} ">{{ todo.completed ? 'Completed' : 'Incomplete' }}</span>
      </li>
    </ul>
  </div>
  